   
<footer class="container-footer" id="footer">
    <div class="col-md-4 text-center" style="height:90px;">
        <br>
        <p>
            <a href="#">Home</a>
            <br />
            <a href="/contact">Contact</a>
            <br />
            <a href="/tickets/index">Dashboard</a>
            <br />
            <a href="/users/index">Profile</a>
        </p>
    </div>
    <div class="col-md-4 text-center" style="height:90px;">
        <br>
        <br>
        <a href="#" target="_blank"><i class="fa fa-facebook-square mmtIcons"></i></a>
        <a href="#" target="_blank"><i class="fa fa-youtube mmtIcons"></i></a>
        <a href="#" target="_blank"><i class="fa fa-instagram mmtIcons"></i></a>
        <a href="#" target="_blank"><i class="fa fa-twitter-square mmtIcons"></i></a>
        <a href="#" target="_blank"><i class="fa fa-reddit-square mmtIcons"></i></a>
        <br>
        <br>
        <br>
    </div>
    <div class="col-md-4 text-center" style="height:90px;">
        <br>
        <p>All Rights Reserved ©</p>
        <p>
            <a href="#">Privacy Policy</a>
            <br />
            <a href="#">Terms Of Use</a>
        </p>
    </div>
</footer>
    <!-- JavaScript Section -->
    <script src="Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript">$m.wand.copy_fields = true;</script>
</body>
</html>